@import '../variables.scss';

.label {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

input[type="text"].textField {
  width: 20em;
  display: inline-block;
  margin: 0 10px;
}

input[type="text"].textField,
.button {
  font-size: 18px;
}

.title {
  margin: 0 0 10px;
}

.form {
  margin: 0 auto;
  text-align: center;
}

.message {
  &.success {
    color: $success-text-color;
  }

  &.error {
    color: $error-text-color;
  }
}

.container {

}
