@import '../variables.scss';

.container {
  margin-top: 20px;
}

.card {
  min-width: 350px;
  border: 1px solid #0D0C0B;
  padding: 15px;
  border-radius: $border-radius;
  display: table;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #574E4F;
}

.avatarContainer,
.main {
  display: table-cell;
  vertical-align: middle;
}

.avatarContainer {
  width: 64px;
  padding-right: 15px;
}

.main {
}

.avatar {
  width: 64px;
  border: 1px solid #0D0C0B;
  border-radius: $border-radius;
}

.name {
  color: #CCC3C8;
  margin: 0;
}

.screenName {
  opacity: 0.75;
  font-size: 14px;

  &:before {
    content: "\a0(";
  }

  &:after {
    content: ")";
  }
}

.createdWrapper, .logoffWrapper {
  font-size: 13px;
  color: #CCC3C8;
}

.createdWrapper {
}

.created, .logoff {
  &:before {
    content: "\a0";
  }
}

.created {

}

.createdWrapper + .logoffWrapper {
  &:before {
    content: "\a0\b7\a0";
  }
}

.logoff {

}
