@import '../variables.scss';

.container {

}

.details {
  display: table;
  width: 100%;
}

.left, .right {
  display: table-cell;
  vertical-align: top;
}

.left {
  text-align: center;
}

.screenshotLink {
  margin: 0 0 20px;
}

.screenshot {
  max-width: 100%;
  display: block;
  border: 1px solid #000;
}

.description {
  margin: 0 0 20px;
}

.right {
  padding-left: 40px;
  max-width: 600px;
}

.colorsMessage {
  margin-bottom: 20px;
}

.metadataTitle {
  margin: 0 0 5px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
}

.metadata {
  margin: 0 0 20px;
  white-space: nowrap;

  dt {
    font-weight: 400;
  }

  dd {
    margin-left: 0;
  }
}

.authorLink, .fullSizeLink, .detailsUrl {
  margin-top: 20px;
  display: inline-block;
}

.fullSizeLink, .detailsUrl {
  &:after {
    color: $text-color;
    content: "\a0\b7\a0";
  }
}

.authorLink {
}

.message {

}

@media (min-width: 768px) {
  .metadata {
    &:before, &:after {
      display: table;
      content: "";
    }

    &:after {
      clear: both;
    }

    dt {
      float: left;
      width: 6em;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:after {
        content: ":";
      }
    }

    dd {
      margin-left: 7em;
    }
  }
}
