@import '../variables.scss';

.container {

}

.details {
  display: table;
  width: 100%;

  .left, .right {
    display: table-cell;
    vertical-align: top;
  }

  .left {
    text-align: center;
  }

  .right {
    padding-left: 40px;
    max-width: 600px;
  }
}

.screenshotLink {
  margin: 0 0 20px;
}

.screenshot {
  max-width: 100%;
  display: block;
  border: 1px solid #000;
}

.description {
  margin: 0 0 20px;
}

.colorsMessage {
  margin-bottom: 20px;
}

.metadata {
  margin: 5px 0 0;
  white-space: nowrap;
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;

    + li {
      &:before {
        content: "\a0\b7\a0";
      }
    }
  }
}

.authorLink, .fullSizeLink, .detailsUrl {
  margin-top: 20px;
  display: inline-block;
}

.fullSizeLink, .detailsUrl {
  &:after {
    color: $text-color;
    content: "\b7";
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
}

.authorLink {
}

.message {

}

@media (min-width: 768px) {
  .details .right {
    min-width: 370px;
  }
}

.icon {
  margin-right: 0.5em;
  font-size: 14px;
}

.profileIcon {

}

.detailsIcon {

}

.fullSizeIcon {

}

.row {
  display: table;
  width: 100%;

  .left, .right {
    display: table-cell;
    vertical-align: top;
  }

  .left {
    width: 75%;
  }

  .right {
    text-align: right;
    padding-top: 40px;
    width: 25%;
  }
}

.screenshotNavButton {
  background-color: $body-bg;
  border: none;
  line-height: 2.5rem;

  &:hover, &:focus {
    background-color: $body-bg;
    color: #8B8086;
  }

  &:disabled {
    background-color: $body-bg;

    &:hover, &:focus {
      background-color: $body-bg;
    }
  }
}

.spinner {

}
