@import '../variables.scss';

.container {
  display: inline-block;
  padding: 2px 4px;
  border-radius: $border-radius;
  width: $swatch-size;
  height: $swatch-size;
  text-align: center;
  margin: 2px 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 1px 1px 3px 0 #000;
  box-shadow: 1px 1px 3px 0 #000;
}
