@import '../variables.scss';

.container, .disallowSelection {
  display: inline-block;
}

.swatch {
  display: inline-block;
  padding: 2px 4px;
  border-radius: $border-radius;
  text-align: center;
  vertical-align: top;
  margin: 2px 5px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: 1px 1px 3px 0 #000;
  box-shadow: 1px 1px 3px 0 #000;

  &.normal {
    width: $swatch-size;
    height: $swatch-size;
  }

  &.large {
    width: $large-swatch-size;
    height: $large-swatch-size;
  }

  &.selected, &.link:hover, &.link:focus {
    border-color: rgba(255, 255, 255, 0.7);
  }

  &.selected {
    &:after {
      content: "\b7";
      font-size: 36px;
      position: absolute;
      left: 4px;
      top: -1px;
    }

    &.normal {
      &:after {
        line-height: $swatch-size;
      }
    }

    &.large {
      &:after {
        line-height: $large-swatch-size;
      }
    }
  }

  &.unselected {
    border-color: rgba(255, 255, 255, 0.3);
  }

  &.dark {
    &:after {
      color: #fff;
    }
  }

  &.light {
    &:after {
      color: #000;
    }
  }
}
