$font-family-base:      'Arimo', 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
$monospace-font:        'Ocr A Extended', 'Courier New', monospace;
$max-content-width:     1000px;
$screen-xs-min:         480px;  /* Extra small screen / phone */
$screen-sm-min:         768px;  /* Small screen / tablet */
$screen-md-min:         992px;  /* Medium screen / desktop */
$screen-lg-min:         1200px; /* Large screen / wide desktop */
$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;

$body-bg: #222314;
$text-color: #8B8086;
$link-color: #fff;
$hover-link-color: #8B8086;
$header-color: #9E969B;
$input-bg: #8B8086;
$input-text-color: #fff;
$border-color: #574E4F;
$border-radius: 2px;
$input-border-color: $border-color;
$input-border-radius: $border-radius;
$success-text-color: #A5A781;
$error-text-color: #A78E81;
$swatch-size: 20px;
$search-label-width: 11rem;
