@import '../variables.scss';

$search-width: 26rem;

.label {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
  width: $search-label-width;
  text-align: right;
}

input[type="search"].textField {
  width: $search-width;
  display: inline-block;
  margin: 0 1rem;
  font-size: 18px;
}

.form {
}

.message {
  color: $error-text-color;
  margin: 5px 0 20px 12rem;
  font-size: 14px;
}

.gamesList {
  list-style: none;
  margin: -1px 0 0 12rem;
  padding-left: 0;
  background-color: #574E4F;
  width: $search-width;
  border: 1px solid $border-color;
  -webkit-border-bottom-right-radius: $border-radius;
  -webkit-border-bottom-left-radius: $border-radius;
  -moz-border-radius-bottomright: $border-radius;
  -moz-border-radius-bottomleft: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.gameListItem {
  text-align: left;
}

.gameLink {
  display: block;
  padding: 2px 6px;
}

.spinner {

}

.pagination {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.prevPage {
  float: left;

  .icon {

  }
}

.nextPage {
  float: right;

  .icon {

  }
}
