@import '../variables.scss';

.container {
  margin-bottom: 20px;
  position: relative;
}

.colors, .selectedColors {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    line-height: 1;
  }
}

.colors {
  margin-top: 20px;
}

.listItem {
}

.selectedColors {
  display: inline-block;
  margin: 0;
}

.title {
  margin: 0 0 5px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
}

.linkIcon, .icon {
  font-size: 14px;
}

.linkIcon {
  margin-right: 0.5em;
}

.icon {
}

.copyMessage {
  position: absolute;
  right: 0;
}

.shuffle, .clear {
  vertical-align: top;
  border: none;
  background-color: $body-bg;
  line-height: $large-swatch-size;

  &:hover, &:focus {
    background-color: $body-bg;
    color: #8B8086;
  }

  &:disabled {
    background-color: $body-bg;

    &:hover, &:focus {
      background-color: $body-bg;
    }
  }
}

.createPalette {
  margin: 0 5px 10px 5px;
  display: block;
}

.shuffle {

}

.clear {

}
