@import '../variables.scss';

.container {
  margin-bottom: 20px;
}

.colors {
  margin: 0;
  color: $header-color;

  dt {
    font-weight: 700;
  }

  dd {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .colors {
    &:before, &:after {
      display: table;
      content: "";
    }

    &:after {
      clear: both;
    }

    dt {
      float: left;
      width: 6em;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:after {
        content: ":";
      }
    }

    dd {
      margin-left: 7em;
    }
  }
}
